.grid {
    display: grid;
    border: 1px solid green;
    width: 100vw;
}

.header {

}

.section {

}

.aside {

}

.footer {

}

.article1 {

}

.article2 {
    
}

.article3 {
    
}

.section1 {

}

.section2 {
    
}

.section3 {
    
}

.section4 {
    
}