.grid {
    display: grid;
    border: 1px solid green;
    width: 100vw;
}

.header {
    border: 1px solid red;
}

.section {
    display: grid;
    border: 1px solid red;
}

.aside {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

.article1 {
    border: 1px solid red;
}

.article2 {
    border: 1px solid red;
}

.article3 {
    border: 1px solid red;
}

.section1 {
    border: 1px solid red;
}

.section2 {
    border: 1px solid red;
}

.section3 {
    border: 1px solid red;
}

.section4 {
    border: 1px solid red;
}